server:
  port: ${PORT:8083}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

jwt:
  robot-public-key-path: classpath:/robot_public_key.pem

spring:
  application:
    name: task-service

frontend:
  url: ${FRONTEND_URL:http://localhost:5173}

---

spring:
  config:
    activate:
      on-profile: QA
eureka:
  client:
    enabled: false