<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap"
            rel="stylesheet" />

        <title>MaxQ Work Manager</title>
        <link
            rel="stylesheet"
            th:href="@{/templates/layouts/styles/custom.css}"
            href="/templates/layouts/styles/custom.css" />
        <script src="node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <link
            th:href="@{/templates/layouts/styles/default-styles.css}"
            rel="stylesheet" />
    </head>
    <body>
        <div th:replace="~{fragments/header :: header}">Replaced by header</div>
        <!--/*@thymesVar id="view" type="java.lang.String"*/-->
        <div class="test" th:replace="~{${view} :: content}">
            Replaced by content
        </div>
        <div th:replace="~{fragments/footer :: footer}">Replaced by footer</div>
    </body>
</html>
