/* SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62/ 74 / 86 / 98

COLORS:
main color: #bfb1e7 #8f77d6 #5f3dc4 #432b89 #26184e
secondary color: #feffaf #fdff5e #fcff36 #cacc2b #656616
gray: #aeb6bf #71808e #34495e #243342 #151d26

*/

body {
    color: #444;
    font-family:
        "Roboto",
        ui-sans-serif,
        -apple-system,
        system-ui,
        sans-serif;
}

.copyright {
    font-size: 12px;
    color: #71808e;
    font-weight: 500;

    border-top: 4px double #aeb6bf;
}

.navbar {
    background-color: #bfb1e7;
}

.navbar-brand {
    color: #26184e;
}

.active {
    color: #26184e;
}

.nav-link {
    color: #5f3dc4;
}

.disabled {
    color: #8f77d6;
}
