<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />

        <title>MaxQ Work Manager</title>
    </head>
    <body>
        <footer class="main-footer">
            <p class="copyright d-flex justify-content-center">
                Piotr Gliszczyński &copy; 2023
            </p>
        </footer>
    </body>
</html>
