<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>MaxQ Work Manager</title>
    </head>
    <body>
        <header class="main-header">
            <nav class="navbar navbar-expand-lg bg-primary-subtle">
                <a class="navbar-brand d-flex" href="/">
                    <img
                        class="ms-3 me-1 logo-image"
                        src="/images/maxq.jpg"
                        alt="MaxQ logo"
                        width="30"
                        height="30" />
                    MaxQ Manager
                </a>
                <button
                    class="navbar-toggler ms-auto me-3"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarNav"
                    aria-controls="navbarNav"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto ms-2">
                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/"
                                >Home</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled">Disabled</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        <li class="mx-1 mb-1 nav-item">
                            <a class="btn btn-primary" href="#" role="button">
                                Sign in
                            </a>
                        </li>
                        <li class="ms-1 me-3 nav-item">
                            <a class="btn btn-secondary" href="#" role="button">
                                Register
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    </body>
</html>
