eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

mailgun:
  url: ${MAILGUN_URL:http://localhost:8079}
  username: ${MAILGUN_USERNAME:api}
  api-key: ${MAILGUN_API_KEY:token}

frontend:
  register:
    confirm:
      mapping: /register/confirm
  reset:
    password:
      mapping: /password/confirm
  url: ${FRONTEND_URL:http://localhost:5173}

jwt:
  issuer: authorization-service
  private-key-path: classpath:/private_key.pem
  public-key-path: classpath:/public_key.pem
  robot-public-key-path: classpath:/robot_public_key.pem

server:
  port: ${PORT:8081}

profile:
  exchange: "authorization-profile-exchange"
  topic:
    create: "profile.create"

spring:
  application:
    name: authorization-service
  datasource:
    password: ${AUTHORIZATION_POSTGRES_PASS:password}
    url: ${POSTGRES_LINK:jdbc:postgresql://localhost:5432/authorization-db?sslmode=disable}
    username: ${AUTHORIZATION_POSTGRES_USER:local_app}
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update
    show-sql: true
  rabbitmq:
    host: ${AUTHORIZATION_PROFILE_RABBITMQ_HOST:localhost}
    port: ${AUTHORIZATION_PROFILE_RABBITMQ_PORT:5672}
    username: ${AUTHORIZATION_PROFILE_RABBITMQ_USERNAME:local_app}
    password: ${AUTHORIZATION_PROFILE_RABBITMQ_PASSWORD:password}
    virtual-host: ${AUTHORIZATION_PROFILE_RABBITMQ_VIRTUAL_HOST:/}
  cloud:
    openfeign:
      client:
        config:
          default:
            logger-level: full

---

spring:
  config:
    activate:
      on-profile: QA
management:
  health:
    rabbit:
      enabled: false
eureka:
  client:
    enabled: false
