@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@import "@radix-ui/themes/styles.css";
@import "./styles/light.css";
@import "./styles/dark.css";
@import "./styles/fonts.css";
@import "./styles/cursor.css";

@config '../tailwind.config.js';

@theme {
    --animate-scaleIn: scaleIn 200ms ease;
    --animate-scaleOut: scaleOut 200ms ease;
    --animate-fadeIn: fadeIn 200ms ease;
    --animate-fadeOut: fadeOut 200ms ease;
    --animate-enterFromTop: enterFromTop 250ms ease;
    --animate-enterFromBottom: enterFromBottom 250ms ease;
    --animate-enterFromLeft: enterFromLeft 250ms ease;
    --animate-enterFromRight: enterFromRight 250ms ease;
    --animate-exitToLeft: exitToLeft 250ms ease;
    --animate-exitToRight: exitToRight 250ms ease;
    --animate-swipeOut: swipeOut 100ms ease-out;

    @keyframes enterFromTop {
        0% {
            opacity: 0;
            transform: translateY(-200px)
        }
        100% {
            opacity: 1;
            transform: translateY(0)
        }
    }
    @keyframes enterFromBottom {
        0% {
            transform: translateY(calc(100% + var(--viewport-padding)))
        }
        100% {
            transform: translateY(0)
        }
    }
    @keyframes enterFromRight {
        0% {
            opacity: 0;
            transform: translateX(200px)
        }
        100% {
            opacity: 1;
            transform: translateX(0)
        }
    }
    @keyframes enterFromLeft {
        0% {
            opacity: 0;
            transform: translateX(-200px)
        }
        100% {
            opacity: 1;
            transform: translateX(0)
        }
    }
    @keyframes exitToTop {
        0% {
            opacity: 1;
            transform: translateY(0)
        }
        100% {
            opacity: 0;
            transform: translateY(-200px)
        }
    }
    @keyframes exitToRight {
        0% {
            opacity: 1;
            transform: translateX(0)
        }
        100% {
            opacity: 0;
            transform: translateX(200px)
        }
    }
    @keyframes exitToLeft {
        0% {
            opacity: 1;
            transform: translateX(0)
        }
        100% {
            opacity: 0;
            transform: translateX(-200px)
        }
    }
    @keyframes scaleIn {
        0% {
            opacity: 0;
            transform: rotateX(-10deg) scale(0.9)
        }
        100% {
            opacity: 1;
            transform: rotateX(0deg) scale(1)
        }
    }
    @keyframes scaleOut {
        0% {
            opacity: 1;
            transform: rotateX(0deg) scale(1)
        }
        100% {
            opacity: 0;
            transform: rotateX(-10deg) scale(0.95)
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0
        }
        100% {
            opacity: 1
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }
    @keyframes swipeOut {
        0% {
            transform: translateY(calc(100% + var(--viewport-padding)))
        }
        100% {
            transform: translateY(var(--radix-toast-swipe-end-y))
        }
    }
}