eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

server:
  port: ${PORT:8080}
local:
  server:
    port: ${PORT:8080}

jwt:
  issuer: 'api-gateway-service'
  user-public-key-path: classpath:/user_public_key.pem
  robot-public-key-path: classpath:/robot_public_key.pem
  robot-private-key-path: classpath:/robot_private_key.pem

frontend:
  url: ${FRONTEND_URL:http://localhost:5173}

spring:
  application:
    name: api-gateway-service
  servlet:
    multipart:
      max-request-size: 10MB
      max-file-size: 10MB
  webflux:
    multipart:
      max-in-memory-size: 1MB
      max-disk-usage-per-part: 10MB
      max-parts: 128
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: authorization-service-healthcheck
              uri: ${AUTHORIZATION_SERVICE_URL:http://localhost:8081}
              predicates:
                - Path=/api/auth/actuator/health
                - Method=GET
              filters:
                - RemoveRequestHeader=Accept
                - AddRequestHeader=Accept, application/json
                - RewritePath=/api/auth/actuator/health, /actuator/health
            - id: authorization-service-login
              uri: lb://authorization-service
              predicates:
                - Path=/api/auth/login
                - Method=POST
              filters:
                - AddRequestHeader=X-Gateway, api-gateway-service
                - RewritePath=/api/auth/login, /login
                - name: BasicToken
                  args:
                    basicTokenHeader: X-Basic-Authorization
            - id: authorization-service
              uri: lb://authorization-service
              predicates:
                - Path=/api/auth/**
                - Method=GET,POST,PATCH
                - Header=Content-Type, application/json
              filters:
                - AddRequestHeader=X-Gateway, api-gateway-service
                - RewritePath=/api/auth/?(?<segment>.*), /$\{segment}
            - id: profile-service-healthcheck
              uri: ${PROFILE_SERVICE_URL:http://localhost:8082}
              predicates:
                - Path=/api/profile/actuator/health
                - Method=GET
              filters:
                - RemoveRequestHeader=Accept
                - AddRequestHeader=Accept, application/json
                - RewritePath=/api/profile/actuator/health, /actuator/health
            - id: profile-service
              uri: lb://profile-service
              predicates:
                - Path=/api/profile/**
                - Method=GET,PUT
                - Header=Content-Type, application/json
              filters:
                - AddRequestHeader=X-Gateway, api-gateway-service
                - RewritePath=/api/profile/?(?<segment>.*), /$\{segment}
            - id: profile-service-file-upload
              uri: lb://profile-service
              predicates:
                - Path=/api/profile/**
                - Method=POST
                - Header=Content-Type, multipart/form-data.*
              filters:
                - AddRequestHeader=X-Gateway, api-gateway-service
                - RewritePath=/api/profile/?(?<segment>.*), /$\{segment}
                - RequestSize=11MB
            - id: eureka-apps
              uri: ${EUREKA_URL:http://localhost:8761/eureka}
              predicates:
                - Path=/service/registered-apps
                - Method=GET
              filters:
                - RemoveRequestHeader=Accept
                - AddRequestHeader=Accept, application/json
                - RewritePath=/service/registered-apps, /eureka/apps
management:
  endpoint:
    gateway:
      access: read_only
  endpoints:
    web:
      exposure:
        include: health,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    org.springframework.cloud.client.discovery: DEBUG

---
spring:
  config:
    activate:
      on-profile: QA
eureka:
  client:
    enabled: false